<tr>
  <td>
    <h4>
      <a href="/indicators/{{id}}">{{name}}</a>
    </h4>
    <small>{{id}}</small>
  </td>
  <td class="action-or-response" id="{{id}}">
    <button id="{{id}}" class="update button">Update</button>
  </td>
</tr>
