<tr>
  <td>
    <p>
      <a href="/indicators/{{id}}">{{name}}</a>
    </p>
    <small>{{id}}</small>
  </td>
  <td class="action-or-response" id="{{id}}">
    <button id="{{id}}" class="update button">Update</button>
    {{#if indicatorationConfig.spreadsheetKey }}
      <button id="{{indicatorationConfig.spreadsheetKey}}" class="reload-definition button">Reload</button>
    {{/if}}
  </td>
</tr>