{{#this}}
  <a id="indicator-{{css-classify title}}" class="indicator-box" href="/indicators/{{id}}">
    <div class="full-name">{{title}}<span>›</span></div>
    <div class="brief">{{truncate description 80}}</div>
    <div class="box-header">
      <div class="title"><h3><span>{{short_name}}</span></h3></div>
    </div>
    <div class="context-text {{css-classify page.headline.text}}">{{page.headline.text}}</div>
    <div class="parameter">
      <h4>{{page.headline.value}}</h4>
      <div class="unit">{{indicatorDefinition.short_unit}}</div>
    </div>
    <div class="last-update">
      <span class="status {{css-classify narrativeRecency}}"></span>
      {{narrativeRecency}}

      {{> dpsir this }}
    </div>
  </a>
{{/this}}
