{{#this}}
  <tr>
    <td>
      <p>
        <a href="/indicators/{{id}}">{{name}}</a>
      </p>
      <small>{{id}}</small>
    </td>
    <td class="action-or-response" id="{{id}}">
      <a id="{{id}}" class="update button">Update </a>
    </td>
  </tr>
{{/this}}