{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/admin.css">
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  <li><a href="/themes">Themes</a></li>
{{/contentFor}}

<div class="content">
  <header>
    <h1>
      Update indicator data
    </h1>
  </header>
  <a class="button update-all">Update all</a>
  <a href="/admin/seedIndicatorData" class="button">Seed from backup</a>

  <table>
    <thead>
      <tr>
        <td>Short name</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {{#indicators}}
        <tr>
          <td>
            <p>
            <a href="/indicators/{{id}}">{{name}}</a>
            </p>
            <small>{{id}}</small>
          </td>
          <td class="action-or-response" id="{{id}}">
            <a id="{{id}}" class="update button">Update </a>
          </td>
        </tr>
      {{/indicators}}
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
  $('a.update').click(function(e){
    var id = e.currentTarget.id;
    $.ajax({
      method: 'POST',
      url: '/admin/updateIndicatorData/'+id,
      success: function(data) {
        $('#'+id+'.action-or-response').text('Success');
      },
      error: function(err){
        $('#'+id+'.action-or-response').text('Failed');
        console.log('Message from remote server for '+id+': '+ err.responseText);
      },
    });
  })

  $('a.update-all').click(function(e){
    _.each($('.button.update'), function(elem, idx) {
      setTimeout(function() {
        $(elem).trigger('click');
      }, idx*1000);
    })
  })

</script>
