{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}


<div class="content">

  <header>
    <h1>Dashboard</h1>
    <a href="/report/new" class="button grey">
      <i class="icon-file-text-alt"></i> New report
    </a>
  </header>

  <div class="row">
    <div class="content-left column">
      <div class="content-title">
        <h2><i class="icon-tasks"></i>Work in progress</h2>
      </div>
      <div class="report green">
        <h3><i class="icon-file-text-alt"></i>Marine water quality report</h2>
        <div class="report-bar-container">
          <div class="report-bar" style="width: 76%; background-color: #55b265"><p>76%</p></div>
        </div>
      </div>
      <div class="report green">
        <h3><i class="icon-file-text-alt"></i>Mira indicator report</h2>
        <div class="report-bar-container">
          <div class="report-bar" style="width: 40%; background-color: #ffbd4c"><p>40%</p></div>
        </div>
      </div>
      <div class="indicator">
        <h3><i class="icon-bar-chart"></i>Land water quality report</h2>
        <p>Marine water quality report</p>
      </div>
      <div class="report orange">
        <h3><i class="icon-file-text-alt"></i>Land water quality report</h2>
        <div class="report-bar-container">
          <div class="report-bar" style="width: 45%; background-color: #ffbd4c"><p>45%</p></div>
        </div>
      </div>
      <a href="#">See all</a>
    </div>
  
    <div class="content-right column">
      <div class="content-title">
        <h2><i class="icon-exchange"></i>Notifications</h2>
      </div>
      <ul>
        <li>Ammonia-N narrative report from Dr reports</li>
        <li>More reports</li>
        <li>And more indicators from Mr indicator</li>
        <li>Ammonia-N narrative report from Dr reports</li>
        <li>More reports update by myself</li>
        <li>And more indicators from Mr indicator</li>
      </ul>
      <a href="#">See all</a>
    </div>

    <div class="clear"></div>
  </div>

  <div class="row">

    <div class="content-left column">
      <div class="content-title">
        <h2><i class="icon-file-text-alt"></i>Latest edited reports</h2>
        <div class="period-of-time">
          <div class="last-update"><p><i class="icon-time"></i>Today</p></div>

          {{#each reports}}
            <section class="report-indicator-list">
              <div class="section-title">
                <small>
                  <i class="icon-time append"></i>Last updated on {{updatedAt}} by Dr. Anybody
                </small>
                <h3><a href="/report/{{id}}">{{ title }}</a></h3>
                <h4>{{period}} | <i class="icon-bookmark"></i> Bookmark this report</h4>
                <p>{{introduction}}</p>
              </div>
            </section>
          {{/each}}

        </div>
      </div>
    </div>
  
    <div class="content-right column">
      <div class="content-title">
        <h2><i class="icon-bar-chart"></i>Latest edited indicators</h2>

        <div class="period-of-time">
          <div class="last-update"><p><i class="icon-time"></i>Today</p></div>
          {{#each indicators}}
          <section class="indicators report-indicator-list">
            <div class="section-title">
              <small>
                <i class="icon-time append"></i>Last updated on {{updatedAt}} by Dr. Anybody
              </small>
              <h3><a href="#">Narrative for {{title}}</a></h3>
              <h4><span class="bold"><a href="#">{{title}}</a></span>| <i class="icon-bookmark"></i> Watch this indicator</h4>
              <p>This is the description for the <span style="font-style: italic;">{{title}}</span> indicator.</p>
              <p class="report-link">Published in <a href="#">Report</a></p>
            </div>
          </section>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>
