{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}


<div class="content">

  <header>
    <h1>Dashboard</h1>
    <a href="/reports/new" class="button grey">
      <i class="icon-file-text-alt"></i> New report
    </a>
  </header>

  <div class="row">
    <div class="content-left column">
      <div class="content-title">
        <h2><i class="icon-tasks"></i>Work in progress</h2>
      </div>

      {{#each work_in_progress}}
        <div class="report green">
          <h3><i class="icon-file-text-alt"></i> <a href="/reports/{{id}}">{{title}}</a></h2>
          <div class="report-bar-container">
            <div class="report-bar" style="width: {{percent_complete}}%;
              background-color: #55b265"><p>{{percent_complete}}%</p></div>
          </div>
        </div>
      {{/each}}

      <a href="/reports">See all</a>
    </div>

    <div class="content-right column">
      <div class="content-title">
        <h2><i class="icon-exchange"></i>Notifications</h2>
      </div>
      <ul class="notifications">
        {{#each notifications}}
          <li><strong>Updated {{type}}</strong> <a href="/{{type}}s/{{id}}">{{title}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="clear"></div>
  </div>

  <div class="row">

    <div class="content-left column">
      <div class="content-title">
        <h2><i class="icon-file-text-alt"></i>Latest edited reports</h2>
        <div class="period-of-time">
          <div class="last-update"><p><i class="icon-time"></i>Today</p></div>

          {{#each reports}}
            <section class="report-indicator-list">
              <div class="section-title">
                <small>
                  <i class="icon-time append"></i>Last updated on {{updatedAt}} by Dr. Anybody
                </small>
                <h3><a href="/reports/{{id}}">{{ title }}</a></h3>
                <h4>{{period}} | <i class="icon-bookmark"></i> Bookmark this report</h4>
                <p>{{introduction}}</p>
              </div>
            </section>
          {{/each}}

        </div>
      </div>
    </div>
  
    <div class="content-right column">
      <div class="content-title">
        <h2><i class="icon-bar-chart"></i>Latest edited indicators</h2>

        <div class="period-of-time">
          <div class="last-update"><p><i class="icon-time"></i>Today</p></div>
          {{#each indicators}}
          <section class="indicators report-indicator-list">
            <div class="section-title">
              <small>
                <i class="icon-time append"></i>Last updated on {{updatedAt}} by Dr. Anybody
              </small>
              <h3><a href="/indicator/{{id}}">Narrative for {{title}}</a></h3>
              <h4><span class="bold"><a href="/indicator/{{id}}">{{title}}</a></span>| <i class="icon-bookmark"></i> Watch this indicator</h4>
              <p>This is the description for the <span style="font-style: italic;">{{title}}</span> indicator.</p>
              <p class="report-link">Published in <a href="#">Report</a></p>
            </div>
          </section>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>
