<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>
      National Reporting Toolkit
      {{#if title}}
        | {{title}}
      {{/if}}
    </title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/marked.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/i18next.min.js"></script>

    {{{block "header"}}}

    {{#if localeIsArabic}}
      <link rel="stylesheet" href="/css/rtl_overrides.css">
    {{/if}}

  </head>
  <body {{{block "extra-body"}}}>

    <div class="menu">
      <div class="inner">
        <div class="left">
          <a href="/">
            <h1>
              National Reporting Toolkit
              <small>Tanzania</small>
            </h1>
          </a>
        </div>

        <ul class="right">

          <li class="md-trigger" data-modal="modal-1" onclick="$('#modal-1').addClass('md-show');">
            {{t "menu/help"}}
          </li>

          {{#if currentUser}}
            <a href="/logout">
              <li class="current-user">
                <span class="name">
                {{ currentUser.name }}
                </span>
                <span class="logout"><span>›</span>{{t "menu/sign_out"}}</span>
              </li>
            </a>
          {{else}}
            <a href="/login">
              <li>{{t "menu/log_in"}}</li>
            </a>
          {{/if}}
        </ul>
      </div>
    </div>

    <div class="breadcrumbs">
      <div class="inner">
        <ul>
          {{{block "breadcrumbs"}}}
        </ul>
      </div>
    </div>

    <div class="md-modal md-effect-1" id="modal-1">
      <div class="md-box">
        <div class="md-title">
          <h3>Welcome to the National Reporting Toolkit</h3><a href="mailto:eadstaff+k2kokbgwnljldhc3dk9k@boards.trello.com" class="button feedback">Send us feedback</a>
        </div>
        <div class="md-content">
          <p>UNEP-WCMC, in partnership with AGEDI and EAD, are developing NRT, a system that helps countries report and manage environmental knowledge. This consists of two elements: the environmental information itself, in the form of indicators; and a contextual narrative that explains the trends and implications of these indicators to the audience of decision-makers. As a flexible system it supports the compilation of any type of report, from the short, single issue indicator report through to larger, cross-sectoral State of Environment Report.</p>
          <img src="/images/tour.png" alt="macbook-tour">
        </div>
        <div class="md-buttons">
          <a href="/about" class="button know-more">I want to know more about NRT</a>
          <a href="/" class="button md-close">Start exploring data</a>
        </div>
      </div>
    </div>
    <div class="md-overlay"></div>

    {{{body}}}
    <footer>
      <div class="inner">
        <h3>NRT is developed by:</h3>
        <img src="/images/unep-logo.png" alt=""><img src="/images/ead-logo.png" alt=""><img src="/images/agedi-logo.png" alt="">
      </div>
    </footer>

    <script>
      $('.md-overlay, .md-close').click(function() {
        $('#modal-1').removeClass('md-show');
      });

      (function() {
        var getCookie = function(cookieName) {
          var cookies = document.cookie.split(';');

          for (var i = 0, j = cookies.length; i < j; i += 1) {
            var cookie = cookies[i];
            var name = cookieName + "=";

            // Trim leading whitespace
            while (cookie.charAt(0) == ' ') {
              cookie = cookie.substring(1, cookie.length);
            }

            if (cookie.indexOf(name) == 0) {
              return cookie.substring(name.length, cookie.length);
            }
          }

          return null;
        };

        var setCookie = function(name, value) {
          document.cookie = name + "=" + value;
        };

        var showModal = function() {
          $('#modal-1').addClass('md-show');
        };

        if (getCookie('nrt_visited') === null) {
          showModal();
          setCookie('nrt_visited', 'yup');
        }
      })()
    </script>

  </body>
</html>
