<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>{{title}}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap-tooltip.js"></script>
    <script src="/js/lib/marked.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/i18next.min.js"></script>

    {{{block "header"}}}

    {{#if settings.localeIsArabic}}
      <link rel="stylesheet" href="/css/rtl_overrides.css">
    {{/if}}

  </head>
  <body>

    <div class='language-selector'>
      {{#if settings.localeIsArabic}}
        <a href="/locale/en">English</a>
      {{else}}
        <a href="/locale/ar">العربية</a>
      {{/if}}
    </div>

    <div class="menu">
      <div class="main-menu-container">
          <div class="main-menu">
            NRT Abu Dhabi
          </div>

          <ul class="submenu">
              <li><a href="/about"><span class="icon"><i class="icon-home append"></i></span>{{{t "menu/about"}}}</a></li>
              <li><a href="/themes"><span class="icon"><i class="icon-bar-chart append"></i></span>{{{t "menu/indicators"}}}</a></li>
              <li><a href="/reports"><span class="icon"><i class="icon-file-text-alt append"></i></span>{{{t "menu/reports"}}}</a></li>
              <li><a href="/dashboard"><span class="icon"><i class="icon-dashboard append"></i></span>{{{t "menu/dashboard"}}}</a></li>
          </ul>
      </div>

      <div class='save-status-container'>

      </div>
      <div class="clear"></div>
    </div>

    {{{body}}}

  </body>
</html>
