<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>{{title}}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap-tooltip.js"></script>
    <script src="/js/lib/marked.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/i18next.min.js"></script>

    {{{block "header"}}}

    {{#if settings.localeIsArabic}}
      <link rel="stylesheet" href="/css/rtl_overrides.css">
    {{/if}}

  </head>
  <body {{{block "extra-body"}}}>

    <div class="menu">
      <div class="inner">
        <div class="left">
          <h1>
            National Reporting Toolkit
            <small>Abu Dhabi</small>
          </h1>
        </div>

        <div class='save-status-container'></div>

        <ul class="right">
          {{#if settings.localeIsArabic}}
          <a href="/locale/en">
            <li>
              English
            </li>
          </a>
          {{else}}
          <a href="/locale/ar">
            <li>
              العربية
            </li>
          </a>
          {{/if}}

          <li class="md-trigger" data-modal="modal-1" onclick="$('#modal-1').addClass('md-show');">
            Help
          </li>

          <li>
            {{#if currentUser}}
              <a href="#signout">
                <li class="current-user">
                  <span class="name">
                  {{ currentUser.name }}
                  </span>
                  <span class="logout"><span>›</span>Sign Out</span>
                </li>
              </a>
            {{else}}
              Log in
            {{/if}}
          </li>
        </ul>
      </div>
    </div>

    <div class="breadcrumbs">
      <div class="inner">
        <ul>
          {{{block "breadcrumbs"}}}
        </ul>
      </div>
    </div>

    <!-- MODAL BOX INFOWINDOW -->
    <div class="md-modal md-effect-1" id="modal-1">
      <div class="md-box">
        <div class="md-title">
          <h3>Welcome to the National Reporting Toolkit</h3><a href="mailto:eadstaff+k2kokbgwnljldhc3dk9k@boards.trello.com"><button class="feedback">Send us feedback</button></a>
        </div>
        <div class="md-content">
          <p>UNEP-WCMC, in partnership with AGEDI and EAD, are developing NRT, a system that helps countries report and manage environmental knowledge. This consists of two elements: the environmental information itself, in the form of indicators; and a contextual narrative that explains the trends and implications of these indicators to the audience of decision-makers. As a flexible system it supports the compilation of any type of report, from the short, single issue indicator report through to larger, cross-sectoral State of Environment Report.</p>
          <img src="images/tour.png" alt="macbook-tour">
        </div>
        <div class="md-buttons">
          <a href="/about"><button class="know-more">I want to know more about NRT</button></a>
          <button class="md-close" onclick="$('#modal-1').removeClass('md-show');">Start exploring data</button>
        </div>
      </div>
    </div>
    <div class="md-overlay"></div>

    {{{body}}}
    <footer>
      <div class="inner">
        <h3>NRT is developed by:</h3>
        <img src="/images/unep-logo.png" alt=""><img src="/images/ead-logo.png" alt=""><img src="/images/agedi-logo.png" alt="">
      </div>
    </footer>

  </body>
</html>
