<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>
      National Reporting Toolkit
      {{#if title}}
        | {{title}}
      {{/if}}
    </title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">


    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/marked.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/backbone-relational.js"></script>
    <script src="/js/lib/handlebars.js"></script>
    <script src="/js/lib/diorama.js"></script>
    <script src="/js/lib/i18next.min.js"></script>
    <script src="/js/lib/d3.min.js"></script>
    <script src="/js/lib/leaflet.js"></script>
    <script src="/js/lib/esri-leaflet.js"></script>
    <script src="/js/lib/medium-editor.min.js"></script>
    <script src="/js/lib/Chart.min.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/application.js"></script>

    {{{block "header"}}}

    {{#if localeIsArabic}}
      <link rel="stylesheet" href="/css/rtl_overrides.css">
    {{/if}}

  </head>

  <body {{{block "extra-body"}}}>
    <div class="menu">
      <div class="inner">
        <div class="left">
          <a href="/">
            <h1>
              National Reporting Toolkit
              <small>
                {{#if APP_CONFIG.iso2}}
                  <img class='flag' src="/images/flags/{{APP_CONFIG.iso2}}.png"/>
                {{/if}}

                {{APP_CONFIG.instance_name}}
              </small>
            </h1>
          </a>
        </div>
        <div class="right">
          <ul>
            {{#if APP_CONFIG.features.ad_branding}}
              {{#if localeIsArabic}}
                <a href="/locale/en">
                  <li>
                    English
                  </li>
                </a>
              {{else}}
                <a href="/locale/ar">
                  <li>
                    العربية
                  </li>
                </a>
              {{/if}}
            {{/if}}

            <li class='help-btn {{#unless APP_CONFIG.features.ad_branding}}md-trigger{{/unless}}'>
              {{t "menu/help"}}
            </li>

            {{#if currentUser}}
              <a href="/logout">
                <li class="current-user">
                  <span class="name">
                  {{ currentUser.name }}
                  </span>
                  <span class="logout"><span>›</span>{{t "menu/sign_out"}}</span>
                </li>
              </a>
            {{else}}
              <a href="/login">
                <li class="login">{{t "menu/log_in"}}</li>
              </a>
            {{/if}}
          </ul>
          {{#if APP_CONFIG.features.ad_branding}}
            <img src="/images/agedi-head.png" alt="">
          {{/if}}
        </div>
      </div>
    </div>

    {{#if APP_CONFIG.features.ad_branding}}
      <div class='sub-nav'>
        <div class="inner">
          <ul>
            <li class="md-trigger"><a href="#" title="About">About</a></li>
            <li><a href="/assets/NRT-User-Manual.pdf" title="NRT User Manual">User manual</a></li>
            <li>
              <a href="https://github.com/unepwcmc/NRT/blob/master/README.md" title="Technical Information">Technical Information</a>
            </li>
            <li>
              <a href="/architecture">System Architecture</a>
            </li>
            <li>
              <a href="/assets/NRT-Data-Schema.pdf" title="Data Schema">Data Schema</a>
            </li>
            <li><a href="/partners" title="Partners">Partners</a></li>
            <li>
              <a href="/assets/NRT-API-Specification.pdf">API Specification</a>
            </li>
            <li>
              <a href="http://10.20.1.73/nrtimport" title="NRT Data Source - only accessible from EAD internal network">Data Source (EAD Only)</a>
            </li>
          </ul>
        </div>
      </div>
    {{/if}}

    <div class="breadcrumbs">
      <div class="inner">
        <ul>
          {{{block "breadcrumbs"}}}
        </ul>
      </div>
    </div>

    {{{body}}}

    {{> modal}}

    {{#if APP_CONFIG.features.ad_branding}}
      <script>
        (function() {
          var subMenuOpen = false;
          var showSubMenu = function() {
            if (subMenuOpen) {
              $('.help-btn').removeClass('active');
              $('.sub-nav').slideUp();
              subMenuOpen = !subMenuOpen;
            } else {
              $('.help-btn').addClass('active');
              $('.sub-nav').slideDown();
              subMenuOpen = !subMenuOpen;
            }
          }

          $('.help-btn').on('click', showSubMenu);
        })()
      </script>
    {{/if}}

    <footer>
      <div class="inner">
        <h3>NRT is developed by:</h3>
        <img src="/images/unep-logo.png" alt="">
        {{#if APP_CONFIG.features.ad_branding}}
          <img src="/images/ead-logo.png" alt="">
          <img src="/images/agedi-logo.png" alt="">
        {{/if}}
      </div>
    </footer>

  </body>
</html>
