<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>{{title}}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap-tooltip.js"></script>
    <script src="/js/lib/marked.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/i18next.min.js"></script>

    {{{block "header"}}}

    {{#if settings.localeIsArabic}}
      <link rel="stylesheet" href="/css/rtl_overrides.css">
    {{/if}}

  </head>
  <body {{{block "extra-body"}}}>

    <div class="menu">
      <div class="inner">
        <h1>
          National Reporting Toolkit
          <small>Abu Dhabi</small>
        </h1>

        <div class='save-status-container'></div>

        <ul class="right">
          <li>
            {{#if settings.localeIsArabic}}
              <a href="/locale/en">English</a>
            {{else}}
              <a href="/locale/ar">العربية</a>
            {{/if}}
          </li>
          <li>
            <!-- MUST REPLACE THE JS FUNCTION -->
            <span class="md-trigger" data-modal="modal-1" onclick="$('#modal-1').addClass('md-show');">Help</span>
          </li>
          <li>
          {{#if currentUser}}
            {{ currentUser.name }}
            {{else}}
            Log in
          {{/if}}
          </li>
        </ul>
      </div>
    </div>

    <div class="breadcrumbs">
      <div class="inner">
        <ul>
          {{{block "breadcrumbs"}}}
        </ul>
      </div>
    </div>

    <!-- MODAL BOX INFOWINDOW -->
    <div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
      <h3>Welcome to NRT</h3>
      <div>
        <p>A flower in my garden, a mystery in my panties. Monday morning. COME ON! You can control your bladder when you're dead! What's next, Michael? Are you going to make dancing illegal? Is this the tiny town from Footloose? Smack of ham. What is she doing at a beauty pageant? Is she running the lights or something? I'm a complete failure. I can't even fake the death of a stripper. It's one banana Michael, what could it cost, ten dollars?</p>
        <div class="md-buttons">
          <!-- MUST REPLACE THE JS FUNCTION -->
          <button class="md-close" onclick="$('#modal-1').removeClass('md-show');">Start exploring data</button>
          <a href="/about"><button class="know-more">I want to know more about NRT</button></a>
        </div>
      </div>
    </div>
    </div>
    <div class="md-overlay"></div>

    {{{body}}}
    <footer>
      <div class="inner">
        <h3>NRT is developed by:</h3>
        <img src="/images/unep-logo.png" alt=""><img src="/images/ead-logo.png" alt=""><img src="/images/agedi-logo.png" alt="">
      </div>
    </footer>

  </body>
</html>
