<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>{{title}}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap-tooltip.js"></script>
    <script src="/js/lib/marked.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/i18next.min.js"></script>

    {{{block "header"}}}

    {{#if settings.localeIsArabic}}
      <link rel="stylesheet" href="/css/rtl_overrides.css">
    {{/if}}

  </head>
  <body>

    <div class="menu">
      <div class="inner">
        <h1>
          National Reporting Toolkit
          <small>Abu Dhabi</small>
        </h1>

        <div class='save-status-container'></div>

        <ul class="right">
          <li>
            {{#if settings.localeIsArabic}}
              <a href="/locale/en">English</a>
            {{else}}
              <a href="/locale/ar">العربية</a>
            {{/if}}
          </li>

          {{#if currentUser}}
            <li>
              {{ currentUser.name }}
            </li>
          {{/if}}
        </ul>
      </div>
    </div>

    {{{body}}}

  </body>
</html>
