<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>
      National Reporting Toolkit
      {{#if title}}
        | {{title}}
      {{/if}}
    </title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/marked.js"></script>
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/backbone-min.js"></script>
    <script src="/js/lib/i18next.min.js"></script>

    {{{block "header"}}}

    {{#if localeIsArabic}}
      <link rel="stylesheet" href="/css/rtl_overrides.css">
    {{/if}}

  </head>

  <body {{{block "extra-body"}}}>
    <div class="menu">
      <div class="inner">
        <div class="left">
          <a href="/">
            <h1>
              National Reporting Toolkit
              <small>{{APP_CONFIG.instance_name}}</small>
            </h1>
          </a>
        </div>
        <div class="right">
          <ul>
            {{#if localeIsArabic}}
            <a href="/locale/en">
              <li>
                English
              </li>
            </a>
            {{else}}
            <a href="/locale/ar">
              <li>
                العربية
              </li>
            </a>
            {{/if}}

            <li class="md-trigger">
              {{t "menu/help"}}
            </li>

            {{#if currentUser}}
              <a href="/logout">
                <li class="current-user">
                  <span class="name">
                  {{ currentUser.name }}
                  </span>
                  <span class="logout"><span>›</span>{{t "menu/sign_out"}}</span>
                </li>
              </a>
            {{else}}
              <a href="/login">
                <li class="login">{{t "menu/log_in"}}</li>
              </a>
            {{/if}}
          </ul>
          <img src="/images/agedi-head.png" alt="">
        </div>
      </div>
    </div>

    <div class="breadcrumbs">
      <div class="inner">
        <ul>
          {{{block "breadcrumbs"}}}
        </ul>
      </div>
    </div>

    {{{body}}}

    {{> modal}}

    <footer>
      <div class="inner">
        <h3>NRT is developed by:</h3>
        <img src="/images/unep-logo.png" alt="">
        <img src="/images/ead-logo.png" alt="">
        <img src="/images/agedi-logo.png" alt="">
      </div>
    </footer>

  </body>
</html>
