<div class="editor">
  <span class="close">{{{t "report/modal/close"}}}<i class="icon-remove-circle"></i></span>

  <aside>
    <div>
      <h5>Data origin:</h5>
      <select>
        <option>NRT Core Indicators</option>
      </select>
    </div>

    <ul class="themes">
      <li class="active">All Indicators</li>
      {{#each themes}}
        {{addSubViewTo ../thisView "ThemeFilterItemView"
        "theme-filter-{{theme.cid}}" theme=this}}
      {{/each}}
    </ul>
  </aside>

  <input value="Search indicators">
  <ul class="indicators">
    {{#each indicators}}
      {{addSubViewTo ../thisView "IndicatorSelectorItemView"
        "indicator-{{indicator.cid}}"
        indicator=this
        section=../section
      }}
    {{/each}}
  </ul>
</div>
