<div class="editor">
  <span class="close">{{{t "report/modal/close"}}}<i class="icon-remove-circle"></i></span>
  <header>
    <h2>{{{t "report/indicator/title"}}}</h2>
  </header>
  <article>
    {{#if currentIndicator}}
      <h3>Current Indicator</h3>
      <ul class="indicators current">
        {{addSubViewTo thisView "IndicatorSelectorItemView"
          indicator=currentIndicator
          section=section
        }}
      </ul>
    {{/if}}
    <h3>Core Indicators</h3>
    <ul class="indicators core">
      {{#each indicators.core}}
        {{addSubViewTo ../thisView "IndicatorSelectorItemView"
          indicator=this
          section=../section
        }}
      {{/each}}
    </ul>
    <h3>External Indicators</h3>
    <ul class="indicators external">
      {{#each indicators.external}}
        {{addSubViewTo ../thisView "IndicatorSelectorItemView"
          indicator=this
          section=../section
        }}
      {{/each}}
    </ul>
  </article>
</div>
