<div class="report-content">
  {{#each reports}}
    {{addSubViewTo ../thisView "ReportItemView" report=this}}
  {{/each}}
</div>

<div class="report-sidebar">
  <div class="filters">
    <h3>{{{t "reports/filters/title"}}}</h3>

    <ul>
      <li><i class="icon-calendar"></i> {{{t "reports/filters/date_from"}}}</li>
      <li><i class="icon-calendar"></i> {{{t "reports/filters/date_to"}}}</li>
    </ul>

    <ul>
      <li><i class="icon-edit"></i> {{{t "reports/filters/drafts"}}}</li>
      <li><i class="icon-bookmark"></i> {{{t "reports/filters/bookmarked"}}}</li>
      <li><i class="icon-user"></i> {{{t "reports/filters/self_published"}}}</li>
    </ul>
  </div>
</div>
