<section class="reports">
  <div class="section-title">
    <small>
      <i class="icon-time append"></i>Last updated on {{report.updatedAt}} by {{author}}
    </small>
    <h3><a href="/reports/{{report.id}}">{{report.title}}</a></h3>
    <h4>{{report.period}} |
      <div class="report-bookmark">
        {{#if report.bookmarked}}
          <i class="icon-bookmark selected"></i> <span>Bookmarked</span>
        {{else}}
          <i class="icon-bookmark"></i> <span>Bookmark this report</span>
        {{/if}}
      </div>
    </h4>
    {{report.introduction}}
  </div>
</section>
