{{#if report.img}}
  <header class="report-header" style="background-image:url({{report.img}})">
    {{#if report.imgCaption}} {{report.imgCaption}} {{/if}}
  </header>
{{/if}}

<div class="content">
  <div class="report-content">
    <div class="report-title">
      <div class="time-period">{{addSubViewTo thisView "TextEditView" type="input" attributeName="period" model=thisView.report}}</div>
      {{addSubViewTo thisView "TextEditView"
        attributeName="title" model=thisView.report tagName="h1"}}
      <div class="report-extra">
        <div class="last-update"><a href="#" data-toggle="tooltip" title="Last update"><i class="icon-time append"></i></a>Report edited 1st of April, 18:23</div>
        <div class="who"><a href="#" data-toggle="tooltip" title="Report owner"><i class="icon-user append"></i></a>Dr. Anybody</div>
      </div>
    </div>

    {{#each sectionsWithViewName}}
      {{addSubViewTo ../thisView this.viewName section=this.section}}
    {{/each}}
    <button class="add-report-section">Add Section</button>
    <button class="add-report-chapter">Add Chapter Heading</button>
  </div>

  <div class="report-sidebar">
    <button class="grey">
      <i class="icon-bookmark-empty append"></i><i class="icon-bookmark append"></i><span class="show">Bookmark this report</span><span>Bookmarked report</span>
    </button>

    <a href="/reports/{{report._id}}/present" class='present-report'>
      <i class="icon-fighter-jet append"></i>View as presentation
    </a>


    <div class="brief fixed-section">
      <h4>Brief</h4>
      {{addSubViewTo thisView "TextEditView" type='textarea'
        attributeName='brief' model=thisView.report}}
    </div>

    {{ addSubViewTo thisView "SectionNavigationView" sections=sections}}

    <div class="recent-changes">
      <div class="recent-changes-title">
        <i class="icon-edit append"></i>Recent changes
      </div>
      <ul>
        <li><strong>4 days ago</strong>: Dr. Anybody changed Amonia-P section.</li>
        <li><strong>10 days ago</strong>: Dr. Anybody published Nitrato-N section.</li>
        <li><strong>1 month ago</strong>: Dr. Anybody published this report.</li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="related-reports">
  <div class="double-column">
    <h2>You may also want to see...</h2>
    <div class="column left">
      <div class="related-report">
        <h4><a href="">Marine water quality report 4 <span class="tag">view report</span></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mi urna, consequat feugiat ante feugiat eu. In eget nibh sit amet sapien feugiat vestibulum vel nec ante.</p>
      </div>
    </div>
    <div class="column right">
      <div class="related-report">
        <h4><a href="">Marine water quality report 3 <span class="tag">view report</span></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mi urna, consequat feugiat ante feugiat eu. In eget nibh sit amet sapien feugiat vestibulum vel nec ante.</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
