{{#if report.img}}
  <header class="report-header" style="background-image:url({{report.img}})">
    {{#if report.imgCaption}} {{report.imgCaption}} {{/if}}
  </header>
{{/if}}

<article>
  <div class="main-content">
    <header>
      {{addSubViewTo thisView "TextEditView" type="input"
        attributeName="period" model=thisView.report tagName="h4"}}

      {{addSubViewTo thisView "TextEditView"
        attributeName="title" model=thisView.report tagName="h1"}}

      <h4>
        <i class="icon-time append"></i>
        Report edited 1st of April, 18:23
      </h4>

      <h4>
        <i class="icon-user append"></i>
        Dr. Anybody
      </h4>
    </header>

    {{#each sectionsWithViewName}}
      {{addSubViewTo ../thisView this.viewName section=this.section}}
    {{/each}}

    <button class="add-report-section">{{{t "report/add_section"}}}</button>
    <button class="add-report-chapter">{{{t "report/add_chapter"}}}</button>
  </div>

  <aside>
    <button>
      <i class="icon-bookmark-empty append"></i><i class="icon-bookmark append"></i><span class="show">{{{t "report/bookmark_this_report"}}}</span><span>Bookmarked report</span>
    </button>

    <a href="/reports/{{report._id}}/present" class='present-report'>
      <i class="icon-fighter-jet append"></i>{{{t "report/present"}}}
    </a>

    <h5>{{{t "report/brief"}}}</h5>
    {{addSubViewTo thisView "TextEditView" type='textarea'
      attributeName='brief' model=thisView.report}}

    {{addSubViewTo thisView "SectionNavigationView" sections=sections}}

    <h5>
      <i class="icon-edit append"></i>
      {{{t "report/recent_changes"}}}
    </h5>

    <ul class="recent-changes">
      <li><strong>4 days ago</strong>: Dr. Anybody changed Amonia-P section.</li>
      <li><strong>10 days ago</strong>: Dr. Anybody published Nitrato-N section.</li>
      <li><strong>1 month ago</strong>: Dr. Anybody published this report.</li>
    </ul>
  </aside>
</article>

<div class="related-reports">
  <div class="double-column">
    <h2>{{{t "report/see_also"}}}</h2>
    <div class="column left">
      <div class="related-report">
        <h4><a href="">Marine water quality report 4 <span class="tag">view report</span></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mi urna, consequat feugiat ante feugiat eu. In eget nibh sit amet sapien feugiat vestibulum vel nec ante.</p>
      </div>
    </div>
    <div class="column right">
      <div class="related-report">
        <h4><a href="">Marine water quality report 3 <span class="tag">view report</span></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mi urna, consequat feugiat ante feugiat eu. In eget nibh sit amet sapien feugiat vestibulum vel nec ante.</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
