{{#if report.img}}
  <header style="background-image:url({{report.img}})">
    {{#if report.imgCaption}} {{report.imgCaption}} {{/if}}
  </header>
{{/if}}

<div class="content">
  <div class="report-content">
    <div class="report-title">
      <div class="time-period">{{addSubViewTo thisView "TextEditView" type="input" className="period" report=thisView.report}}</div>
      <h1>{{addSubViewTo thisView "TextEditView" type="input"
        className="title" report=thisView.report}}</h1>
      <div class="report-extra">
        <div class="last-update"><a href="#" data-toggle="tooltip" title="Last update"><i class="icon-time append"></i></a>1st of April, 18:23</div>
        <div class="who"><a href="#" data-toggle="tooltip" title="Report owner"><i class="icon-user append"></i></a>Dr. Anybody</div>
      </div>
    </div>

    <section class="fixed-section">
      <div class="section-title">
        <h2>Introduction</h2>
      </div>
      {{addSubViewTo thisView "TextEditView" type='textarea'
        className="introduction" report=thisView.report}}
    </section>

    {{#each sections}}
      {{addSubViewTo ../thisView "SectionView" section=this}}
    {{/each}}
    <button class="add-report-section">Add Section</button>

    <section class="fixed-section">
      <div class="section-title">
        <h2>Conclusion</h2>
      </div>
      {{addSubViewTo thisView "TextEditView" type='textarea'
        className='conclusion' report=thisView.report}}
    </section>
  </div>

  <div class="report-sidebar">
    <button class="grey">
      <i class="icon-bookmark-empty append"></i><i class="icon-bookmark append"></i><span class="show">Bookmark this report</span><span>Bookmarked report</span>
    </button>

    <div class="brief fixed-section">
      <h4>Brief</h4>
      {{addSubViewTo thisView "TextEditView" type='textarea'
        className='brief' report=thisView.report}}
    </div>

    <div id="section-navigation-container">
    </div>

    <div class="recent-changes">
      <div class="recent-changes-title">
        <i class="icon-edit append"></i>Recent changes
      </div>
      <ul>
        <li><strong>4 days ago</strong>: Dr. Anybody changed Amonia-P section.</li>
        <li><strong>10 days ago</strong>: Dr. Anybody published Nitrato-N section.</li>
        <li><strong>1 month ago</strong>: Dr. Anybody published this report.</li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="related-reports">
  <div class="double-column">
    <h2>You may also want to see...</h2>
    <div class="column left">
      <div class="related-report">
        <h4><a href="">Marine water quality report 4 <span class="tag">view report</span></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mi urna, consequat feugiat ante feugiat eu. In eget nibh sit amet sapien feugiat vestibulum vel nec ante.</p>
      </div>
    </div>
    <div class="column right">
      <div class="related-report">
        <h4><a href="">Marine water quality report 3 <span class="tag">view report</span></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mi urna, consequat feugiat ante feugiat eu. In eget nibh sit amet sapien feugiat vestibulum vel nec ante.</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
