<div class="editor">
  <span class="close-vis-edit">Close</span>
  <header>
    <h2>{{indicator.title}}</h2>
    <h3>Subtitle</h3>
  </header>
  <div class="visualisation">
    <select name="visualisation">
      {{#each visualisationTypes}}
        <option value="{{this}}" {{selectedIfEqual ../visualisationType this}}>
          {{this}}
        </option>
      {{/each}}
    </select>
    <button class="save">Save Visualisation</button>
    {{addSubViewTo thisView visualisationViewName width=550 visualisation=visualisation}}
  </div>

  <aside class="filters">
    <header>
      <h3>Data filters</h3>
      <a href="#">Reset all filters</a>
    </header>
  </aside>
</div>
