<h5>{{{t "report/section_list"}}}</h5>

<ol>
  {{#each sections}}
    <li data-section-cid="{{cid}}" class='{{type}}' draggable="true">
      <div class='section'>
        <a href="#section-{{_id}}">{{title}}</a>
      </div>
    </li>
  {{/each}}
</ol>
