<div class="section-title" id="section-{{section.id}}">
    <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody</small>
    <h2>{{section.title}}</h2>
    <h3>Nitrate-N concentrations (µg/L) in Abu Dabhi Emirate waters.</h3>
</div>
{{#if noContent}}
  <div class="section-actions">
    <span class="add-narrative">
      Type Narrative for this indicator here or
    </span>
    <span class="add-visualisation">
      <i class="icon-table"></i>add a visualisation
    </span>
  </div>
{{else}}
  {{#if narrative}}
    {{addSubViewTo thisView "NarrativeView" narrative=narrative}}
  {{else}}
    <div class="section-actions">
      <span class="add-narrative">
        Type Narrative for this indicator here
      </span>
    </div>
  {{/if}}
  {{#if visualisation}}
    {{addSubViewTo thisView "VisualisationView" visualisation=visualisation}}
  {{else}}
    <div class="section-actions">
      <span class="add-visualisation">
        <i class="icon-table"></i>add a visualisation
      </span>
    </div>
  {{/if}}
{{/if}}
