<h2>
  {{addSubViewTo thisView "TextEditView" type='input'
    attributeName='title' model=sectionModel disableNewlines=true}}
</h2>

{{#if isEditable}}
  <button class="delete">
    <i class="icon-remove"></i>{{t "section/delete_this_section"}}
  </button>
{{/if}}

{{#if visualisation}}
  {{addSubViewTo thisView "VisualisationView" visualisation=visualisation}}
{{/if}}

{{#if narrative}}
  {{addSubViewTo thisView "TextEditView" type='input'
    attributeName='content' model=narrative}}
{{/if}}

{{#if isEditable}}
  <div class="section-actions">
    {{#unless narrative}}
      <button class="add-narrative">
        <i class="icon-align-justify append"></i>{{t "section/add_text"}}
      </button>
    {{/unless}}

    {{#unless visualisation}}
      <button class="add-visualisation">
        <i class="icon-table append"></i>{{t "section/add_visualisation"}}
      </button>
    {{/unless}}
  </div>
{{/if}}
