<div class="section-title" id="section-{{section._id}}">
  {{#if noTitleOrIndicator}}
    <div class="section-actions">
      <span class="add-title">
        Start typing your new section title here or
      </span>
      <span class="choose-indicator">
        <i class="icon-table"></i>reference an indicator
      </span>
    </div>
  {{else}}
    <small class='updated-at'>
      <i class="icon-time append"></i>
      Last updated on 1st of April, 18:23 by Dr. Anybody
    </small>

    {{#if sectionIndicator}}
      <h2>{{sectionIndicator.title}}</h2>
    {{else}}
      <h2>
        {{addSubViewTo thisView "TextEditView" type='input'
          attributeName='title' model=sectionModel}}
      </h2>
    {{/if}}
  {{/if}}
</div>

{{#unless noTitleOrIndicator}}
  {{#if noContent}}
    <div class="section-actions add-narrative">
      Type Narrative for this indicator here

      {{#if section.indicator}}
        or
        <span class="add-visualisation">
          <i class="icon-table"></i>add a visualisation
        </span>
      {{/if}}
    </div>
  {{else}}
    {{#if visualisation}}
      {{addSubViewTo thisView "VisualisationView" visualisation=visualisation}}
    {{/if}}

    {{#if narrative}}
      {{addSubViewTo thisView "NarrativeView" narrative=narrative}}
    {{else}}
      <div class="section-actions add-narrative">
        Type Narrative for this 
        {{#if section.indicator}}
          indicator
        {{else}}
          section
        {{/if}}
        here
      </div>
    {{/if}}
  {{/if}}
{{/unless}}
