<div class="show-content">
  {{#if content}}
    <{{wrapperTag}}>
      <div contenteditable="true"  class='content-text-field'>{{{markup content}}}</div>
  {{else}}
    Type {{attributeName}} here
    </{{wrapperTag}}>
  {{/if}}
</div>

