{{! Show mode }}
<div class="show-content">
  {{#if content}}
  <{{wrapperTag}}>
      <div class='markedup-content'>{{{markup content}}}</div>
    {{else}}
      Type {{attributeName}} here
    {{/if}}
  </{{wrapperTag}}>
</div>

{{! Edit mode }}
<div class='edit-content startHidden'>
  <{{wrapperTag}}>

  {{#if isInput}}
    <input type='text' class='content-text-field' value='{{content}}' />
  {{else}}
    <textarea class='content-text-field'>{{content}}</textarea>
  {{/if}}

  </{{wrapperTag}}>

  <button class="save-content pull-right">Save changes</button>
</div>

