<div class="show-content">
  {{#if content}}
    <{{wrapperTag}}>
      <div contenteditable="true"  class='content-text-field'>{{{markup content}}}</div>
  {{else}}
    <p class="period-placeholder">Type the period of the report {{attributeName}} here</p>
    </{{wrapperTag}}>
  {{/if}}
</div>

