{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}


<div class="content">
  <header>
    <h1>{{{t "indicators/title"}}}</h1>
  </header>

  <div class='intro-text'>
    This is an annual snapshot of the state of the environment in Abu Dhabi for 2013. The state is generally positive. Some key areas for investigation are XX and YY. There has been excellent progress in the areas of AA and BB.

  </div>
  <div class="indicators-container">
    <div class="report-content">
      {{#themes}}
      <a href="/themes/{{_id}}">
        <h2>{{title}}</h2>
      </a>
        {{#unless indicators}}
        <h3>
          No indicators
        </h3>
        {{/unless}}
        {{#indicators}}
        <a href="/indicators/{{id}}"><h3>{{title}}</h3></a>
        {{/indicators}}
      {{/themes}}
    </div>


    <div class="report-sidebar">
    </div>
  </div>
</div>
