{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
  <script type="text/javascript">
    (function() {
      var scrollToElementWithOffset = function(element, offset) {
        $('html, body').animate({scrollTop: $(element).offset().top + offset }, 'slow');
      };

      var scrollToTheme = function(event) {
        var selectorToScrollTo = $(event.currentTarget).attr('data-theme-name');
        scrollToElementWithOffset(selectorToScrollTo, -50);
        event.stopPropagation();
      };

      $(document).ready(function() {
        $('.side-theme-list > li').click(scrollToTheme);
      });
    })();
  </script>
{{/contentFor}}

{{#contentFor 'extra-body'}}
  class="theme-list"
{{/contentFor}}

<div class="content">
  <div class="indicators-container">
    <div class="theme-list">
      {{#themes}}
      <div class="theme-block" id="theme-{{css-classify title}}">
        <a href="/themes/{{_id}}">
          <h2>{{title}}<span>›</span></h2>
        </a>

        <div class="description-block">
          {{{truncate description 230}}}
          <a href="/themes/{{_id}}">(Read more)</a>
        </div>

        {{> indicatorList indicators }}
      </div>
      {{/themes}}
    </div>
    <aside class="content-sidebar theme-recency">
      <ul class="side-theme-list">
        {{#themes}}
          <li data-theme-name="#theme-{{css-classify title}}">
            <h4>{{title}}</h4>
            <ul class="indicator-recency-list">
              {{#each indicators}}
                  <a href="/indicators/{{id}}">
                    <li>
                        <span class="status {{css-classify narrativeRecency}}"></span>
                        <span>{{title}}</span>
                    </li>
                  </a>
              {{else}}
                <li>
                  <span>All indicators up to date.</spam>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/themes}}
      </ul>
    </aside>
  </div>
</div>
