{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/css/medium-editor.css">
  <link rel="stylesheet" href="/css/dashboard.css">

  <script src="/js/lib/d3.min.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/lib/backbone-relational.js"></script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/lib/diorama.js"></script>
  <script src="/js/lib/medium-editor.min.js"></script>
  <script src="/js/application.js"></script>
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  <li><a href="/">Back to theme list</a></li>

  {{#if currentUser}}
    <a class="button" href="/themes/{{theme._id}}/draft">
      <i class="icon-edit"></i> {{{t "theme/update"}}}
    </a>
  {{/if}}
{{/contentFor}}

{{#contentFor 'extra-body'}}
class="theme-page"
{{/contentFor}}

{{#if theme.page.is_draft}}
  {{> pageEditControls}}
{{/if}}

<div class="content theme">
  <article>
    <header>
      <h1>{{theme.title}}</h1>
    </header>

    <div class='main-content'>
      <img src="{{theme.image_url}}"/>
    </div>

    <aside class="content-sidebar metadata">
    </aside>
  </article>
</div>
<div class="theme-indicators">
  <div class="inner">
    <div class="theme-block">
      <h2>Indicators under this theme</h2>

      {{#if indicators.length}}
        {{> indicatorList indicators }}
      {{else}}
        Currently, no indicators for this theme have any data
      {{/if}}
    </div>
  </div>
</div>

<script type="text/javascript">
  i18n.onReady(function() {
      new Backbone.Controllers.ThemeController(
        {{{ themeJSON }}}
        {{#if currentUser}}
          ,{{{currentUserJSON}}}
        {{/if}}
      );
  });
</script>
