{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/theme.css">

  <script src="/js/lib/d3.min.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/lib/backbone-relational.js"></script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/lib/diorama.js"></script>
  <script src="/js/application.js"></script>
{{/contentFor}}

<div class="content theme">
  <article>
    <header>
      <h1>{{theme.title}}</h1>
    </header>

    <div class='main-content'>
      <section>
        <h2>Indicators</h2>

        <p>Here are the indicators under this Theme.</p>

        {{#indicators}}
          <h3>
            <a href="/indicators/{{id}}">{{title}}</a>
          </h3>
        {{/indicators}}
      </section>
    </div>

    <aside class="content-sidebar metadata">
      <h3>{{{t "theme/owned_by"}}}</h3>
      <p>
        <i class="icon-user append"></i>
        Dr. Anybody
      </p>

      <section>
        <h3>{{{t "theme/metadata"}}}</h3>
        <ul>
          <li>
            <h4>{{{t "theme/metadata/category"}}}</h4>
            <span>
              <i class="icon-cloud append"></i>
              Atmosphere
            </span>
          </li>
          <li>
          <h4>{{{t "theme/metadata/most_recent"}}}</h4>
            <span class="outdated">
              3 June 2013
              <span class="outdated-notice">
                <i class="icon-warning-sign"></i>
                outdated data
              </span>
            </span>
          </li>
          <li>
            <h4>{{{t "theme/metadata/oldest_data"}}}</h4>
            <span>3 June 2013</span>
          </li>
        </ul>
      </section>

      <section>
        <h3>{{{t "theme/similar"}}}</h3>
        <ul>
          <li>
            Average evaporation rate
          </li>
          <li>
            Average minimum and maximum temperature
          </li>
        </ul>
      </section>
    </aside>
  </article>
</div>

<script type="text/javascript">
  i18n.onReady(function() {
    new Backbone.Controllers.ThemeController({{{ themeJSON }}});
  });
</script>
