{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">

  <script type='text/javascript'>
    $(document).ready(function(){
        $('.report-bookmark').click(function(event){
          var isBookmarked = $(event.currentTarget).find('i')
            .toggleClass('selected').hasClass('selected');
          if (isBookmarked) {
            $(event.currentTarget).find('span').text("Bookmarked (not implemented yet)");
          } else {
            $(event.currentTarget).find('span').text('Bookmark this indicator');
          };
        });
    });
  </script>
{{/contentFor}}


<div class="content">
  <header>
    <h1>{{{t "indicators/title"}}}</h1>

    <button class="grey">
      <i class="icon-file-text-alt append"></i><span class="show">{{{t "header/new_indicator"}}}</span>
    </button>
  </header>

  <div class="indicators-container">
    <div class="report-content">
      {{#themes}}
        <h2>{{title}}</h2>
        {{#unless indicators}}
        <h3>
          No indicators
        </h3>
        {{/unless}}
        {{#indicators}}
        <a href="/indicators/{{id}}"><h3>{{title}}</h3></a>
        {{/indicators}}
      {{/themes}}
    </div>


    <div class="report-sidebar">
    </div>
  </div>
</div>
