{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/indicator.css">
  <link rel="stylesheet" href="/css/medium-editor.css">

  <script src="/js/lib/d3.min.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/lib/backbone-relational.js"></script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/lib/diorama.js"></script>
  <script src="/js/lib/medium-editor.min.js"></script>
  <script src="/js/application.js"></script>
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  <li class="home"><i class="icon-home"></i><a href="/">Home</a></li>
  <!-- THIS NAVIGATION MUST BE FIXED {{ indicator.theme.title }} -->
  <li><a href="#">Go back to theme {{ indicator.theme }}</a></li>
{{/contentFor}}
<div class="edit-bar-container">
  <div class="edit-bar">
    <div class="back">
      <p>Last edited on 7 July 2013</p>
    </div>
    <div class="publish-delete">
      <button id="publish">Publish</button>
      <button>Save & go to public view</button>
      <button id="delete">Discard Draft</button>
    </div>
  </div><!--edit bar-->
</div><!--edit bar container-->

<div class="content indicator">
  <article>
    <header>
      <h1>{{indicator.title}}</h1>
      <button>
        <i class="icon-edit"></i> {{{t "indicator/update"}}}
      </button>
      <div class="clear"></div>
      <div class="parameter">
        <div class="score">
        <span class="number">38%</span><span class="keyword">Excellent</span>
        </div>
        <p><span class="separator">|</span>Refers to data collected until 7 July 2013</p>
        <div class="clear"></div>
      <div><!--card-->
    </header>
    <div class='main-content'>
    </div>

    <aside class="content-sidebar metadata">
    <div class="metadata-placeholder">
    </div>
      <section>
        <h3>{{{t "indicator/metadata"}}}</h3>
        <ul>
          <li>
            <h4>{{{t "indicator/metadata/category"}}}</h4>
            <span>
              <i class="icon-cloud append"></i>
              Atmosphere
            </span>
          </li>
          <li>
          <h4>{{{t "indicator/metadata/most_recent"}}}</h4>
            <span class="outdated">
              3 June 2013
              <span class="outdated-notice">
                <i class="icon-warning-sign"></i>
                outdated data
              </span>
            </span>
          </li>
          <li>
            <h4>{{{t "indicator/metadata/oldest_data"}}}</h4>
            <span>3 June 2013</span>
          </li>
          <li>
            <h4>{{{t "indicator/metadata/frequency"}}}</h4>
            <span>Yearly</span>
          </li>
          <li>
            <h4>{{{t "indicator/metadata/collected_by"}}}</h4>
            <span>Dr. Laila Ibrahim Al Dhaheri</span>
          </li>
          <li>
            <h4>{{{t "indicator/metadata/data_feed_url"}}}</h4>
            <span>Al Wathba Wetland Reserve</span>
          </li>
          <li>
            <h4>{{{t "indicator/metadata/contact"}}}</h4>
            <span>Dr. Laila Ibrahim Al Dhaheri, Executive Director, Terrestrial & Marine Biodiversity</span>
          </li>
        </ul>
      </section>
    </aside>
  </article>
</div>
<script type="text/javascript">
  i18n.onReady(function() {
    new Backbone.Controllers.IndicatorController({{{ indicatorJSON }}});
  });
</script>
