{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/indicator.css">
  <link rel="stylesheet" href="/css/medium-editor.css">
  <link rel="stylesheet" href="/css/leaflet.css" />

  {{> extra_js_libs}}
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  <li class="home"><i class="icon-home"></i><a href="/">Home</a></li>
  <li><a href="/themes/{{indicator.theme._id}}">Go back to theme {{ indicator.theme.title }}</a></li>

  {{#ifCanEdit currentUser}}
    <a class="button" href="/indicators/{{indicator._id}}/draft">
      <i class="icon-edit"></i> {{{t "indicator/update"}}}
    </a>
  {{/ifCanEdit}}
{{/contentFor}}

{{#if indicator.page.is_draft}}
  {{> pageEditControls}}
{{/if}}

<div class="content indicator">
  <article>
    <header>
      <div class="parameter {{#if indicator.page.is_draft}}p-select{{/if}}">
        <div class="score {{css-classify indicator.page.headline.text}}">
          <span class="number">
            {{indicator.page.headline.value}} {{indicator.indicatorDefinition.shortUnit}}
          </span>
          <span class="keyword">
            {{indicator.page.headline.text}}
          </span>
        </div>
        <p>Refers to data collected up to {{indicator.page.headline.periodEnd}}</p>

      </div>

      {{#if APP_CONFIG.features.dpsir_filtering}}
        {{> dpsir indicator.dpsir }}
      {{/if}}

      <h1>{{indicator.name}}</h1>
    </header>

    <div class='main-content'>
    </div>

    <aside class="content-sidebar metadata">
      <div class="metadata-placeholder">
      </div>

      <section>
        <h3>{{{t "indicator/metadata"}}}</h3>
        <ul>
          <li>
            <h4>{{{t "indicator/metadata/category"}}}</h4>
            <span>
              <i class="icon-{{themeIconClass indicator.theme.title}} append"></i>
              {{indicator.theme.title}}
            </span>
          </li>
          <li>
            <h4>{{{t "indicator/metadata/most_recent"}}}</h4>
            <span>{{indicator.headlineRanges.newest}}</span>
          </li>
          <li>
            <h4>{{{t "indicator/metadata/oldest_data"}}}</h4>
            <span>{{indicator.headlineRanges.oldest}}</span>
          </li>
          <li>
            <h4>{{{t "indicator/metadata/frequency"}}}</h4>
            <span>{{indicator.indicatorDefinition.period}}</span>
            <span class="recency-tag {{#unless indicator.isUpToDate}}warning{{/unless}}">
              {{#unless indicator.isUpToDate}}
                <i class="icon-warning-sign append"></i>
              {{/unless}}
              {{indicator.narrativeRecency}}
            </span>
          </li>
          <li>
            <h4>Source</h4>
            <span>
              <a class="source" href="{{indicator.source.url}}">{{indicator.source.name}}</a>
            </span>
          </li>
          {{#if APP_CONFIG.features.ad_branding}}
            <li>
              <h4>Indicator definition</h4>
              <span>
                <a class="source" href="/assets/Big book of indicators.pdf">Download PDF</a>
              </span>
            </li>
          {{/if}}
        </ul>
      </section>
    </aside>
  </article>
</div>
<script type="text/javascript">
  i18n.onReady(function() {
      new Backbone.Controllers.IndicatorController(
        {{{ indicatorJSON }}}
        {{#if currentUser}}
          ,{{{currentUserJSON}}}
        {{/if}}
      );
  });
</script>
