{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/indicator.css">

  <script src="/js/lib/d3.min.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/lib/backbone-relational.js"></script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/lib/diorama.js"></script>
  <script src="/js/application.js"></script>
{{/contentFor}}

<div class="content indicator">
  <article>
    <header>
      <h1>{{indicator.title}}</h1>

      <div class='indicator-buttons'>
        <a href="/api/indicators/{{indicator._id}}/data" class="button grey">
          <i class="icon-file-text-alt"></i> {{{t "indicator/view"}}}
        </a>

        <a href="/api/indicators/{{indicator._id}}/data.csv" class="button grey">
          <i class="icon-file-text-alt"></i> {{{t "indicator/download"}}}
        </a>
      </div>
    </header>

    <div class='main-content'>
    </div>

    <aside class="content-sidebar metadata">
      <h3>{{{t "indicator/owned_by"}}}</h3>
      <p>
        <i class="icon-user append"></i>
        Dr. Anybody
      </p>

      <section>
        <h3>{{{t "indicator/metadata"}}}</h3>
        <ul>
          <li>
            <h4>{{{t "indicator/metadata/category"}}}</h4>
            <span>
              <i class="icon-cloud append"></i>
              Atmosphere
            </span>
          </li>
          <li>
          <h4>{{{t "indicator/metadata/most_recent"}}}</h4>
            <span class="outdated">
              3 June 2013
              <span class="outdated-notice">
                <i class="icon-warning-sign"></i>
                outdated data
              </span>
            </span>
          </li>
          <li>
            <h4>{{{t "indicator/metadata/oldest_data"}}}</h4>
            <span>3 June 2013</span>
          </li>
        </ul>
      </section>

      <section>
        <h3>{{{t "indicator/similar"}}}</h3>
        <ul>
          <li>
            Average evaporation rate
          </li>
          <li>
            Average minimum and maximum temperature
          </li>
        </ul>
      </section>
    </aside>
  </article>
</div>

<script type="text/javascript">
  i18n.onReady(function() {
    new Backbone.Controllers.IndicatorController({{{ indicatorJSON }}});
  });
</script>
